<div class="col-md-10 float-right">
  <div class="col-xs-12 d-flex flex-row justify-content-between">
    <div class="float-left">
      <a class="btn btn-info" (click)="onEditRecipe()" title="Edit Recipe"><i class="fas fa-edit fa-lg"></i></a>
    </div>
    <div class="float-right">
      <a class="btn btn-danger" (click)="onDeleteRecipe()" title="Delete Recipe">
        <i class="fas fa-trash-alt fa-lg"></i></a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imageURL" alt="{{recipe.name}}"
           class="img-responsive"
           style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
</div>

