.menu {
  flex-direction: row;
  display: flex;
}

a {
  color: #2a9d8f;
}

.nav .nav-link {
  /*padding: 1.6rem 1rem;*/
  font-size: 1rem;
  position: relative;
}

.nav .nav-link:hover {
  background-color: #104f55;
}

.nav .nav-link:hover a {
  color: #ffffff;
}
